label {
    display: block;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.button_styling {
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    /*padding: 10px 30px;*/
    border-radius: 5px;
    text-align: center;
    height: 50px;
    width: 225px;
    display: block;
}

.button_styling:hover {
    background-color: #4dc160;
    cursor: pointer;
    color: black;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
